/* You can add global styles to this file, and also import other style files */
.acarStationMaker {
  content: url("./assets/broadcast-tower-solid.svg");
}

.airpline-solid {
  content: url("./assets/aircraft-dark-blue.svg");
}
.mediumIconSize {
  height: 24px;
  width: 24px;
}

.buttonPadding {
  margin: 10px 10px;
}
