<button class="btn btn-primary buttonPadding" (click)="drawAcarStationCircle($event)">Draw Acar Station Circle</button>
<button class="btn btn-primary buttonPadding" (click)="drawAirportCircle($event)">Draw Airport Circle</button>
<button class="btn btn-primary buttonPadding" (click)="drawVdlStationCircle($event)">Draw Vdl Station Circle</button>
<div leaflet style="height: 100vh;"
     [leafletOptions]="options"
     [leafletLayers]="layers"
     [leafletLayersControl]="layersControl"
     (leafletMapReady)="onMapReady($event)"
>
</div>
